
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
     

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 12%;
     
}
.centerSlider > h2 > h3 {
    color: #FFF;
}
.centerSlider > a > button {
    color: #FFF;
    /*width: 23%;*/
    background: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}
.centerSlider button:hover {
     
    background: rgba(0, 0, 0, 0.6);
    
}
.centerSlider button > h2 {
     
    margin-top: 6%;
    
}
.sliderText {
  color: white;
}



/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	/*background-color: #34495e;*/
	padding-top: 60px;
    background: url(/img/imgHeader.jpg);
/*    background-repeat: repeat-y repeat-x;*/
    background-position: center;
    background-attachment: fixed !important;
    min-height: 100%;
    background-size: cover; /*estica a imagem para caber na tela*/
 

}
html, body { margin:0; height: 100%;}

#headerwrap h1 {
	margin-top: 120px;
	color: white;
	font-size: 120px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
 
	 
     background: url(/img/imgHeader.jpg);
/*    background-repeat: repeat-y repeat-x;*/
    background-position: center;
    background-attachment: fixed !important;
   
    background-size: cover; /*estica a imagem para caber na tela*/
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: center;
/*margin-bottom: 100px;*/
}

#c p {
	color: #4e4e4e;
}







.navbarmmx {
    background-color: rgba(0,0,0,.0);
    border-color: rgba(0,0,0,.0);
}
.navbarmmx a{
    color: #e4e4e4 !important;
    font-size: 30px;
     
}
 
 .navbarmmx ul{
    margin: 0 !important;
padding: 0 !important;
text-align: center !important;
}
 .navbarmmx ul{
   display: inline-block !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: rgba(0,0,0,.0);
}


#site_footer{
     
    display: none;  
}






.mynavbar {
    text-align:center;

}
.mynavbar .nav {
    float:none;
}
.mynavbar .nav li {
    display:inline-block;
    float:none;
    margin:0 20px;
    vertical-align:middle;
}
.mynavbar .nav li a {
  /*  border-radius:10px;*/
   
    color:blue;
}
.mynavbar .nav li a:hover {
    background: rgba(0,0,0,.6);
}
.mynavbar .nav li.mylogo a, .mynavbar .nav li.mylogo a:hover {
    background:transparent;
    max-width:150px;
}
.mynavbar .nav li.mylogo a img {
    width:100%;
    height:auto;
    vertical-align:middle;
    display:inline-block;
}
.navbar-brand {
    display:none
}








/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

/* visual styles */
 
h21 {
    margin:40px 0px 20px 0px;
    color:#95c500;
    font-size:28px;
    line-height:34px;
    text-align:center;
}
.att {
    padding-top:10px;
    padding-bottom:15px;
     margin: 20px;
     
}
.att:before {
    display:block;position:relative;
     
    margin-bottom:8px;
    font-family:sans-serif;
    font-size:10px;
    letter-spacing:1px;
     
    text-align:left;
}
.item {
    width:100%;
    height:100%;
    
    padding:16px 8px;
     
}

/* content styles */
.item {
    display:table;
}
.content {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
 
/* cria um arquivo para guardar links tipo esse \/
http://www.minimit.com/demos/bootstrap-3-responsive-centered-columns
http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns
*/

.img-responsive {
     
    height: auto;
    max-width: 70%;
}
.img-responsive-site {
    display: inline;
  }

.img-responsive-page {
     
    height: auto;
    max-width: 460px;
}


.content-row {
  margin-top: 30px;
}
   
.alert-success {
    color: #468847;
    background-color: #222;
    border-color: #222;
}































 @media screen and (max-width:768px) {
.navbar-brand {
    display:inline
}
.mynavbar .nav li {
    display:block;
    margin:0
}
.mynavbar .nav li a {
    border-radius:0;
    display:block;
    border-bottom:1px solid #fff
}
.mynavbar li.mylogo {
    display:none
}
 
#headerwrap {
    /*background-color: #34495e;*/
   display: block;
 
     
     background: url(/img/imgHeader.jpg);
/*    background-repeat: repeat-y repeat-x;*/
    background-position: center;
    background-attachment: fixed !important;
   min-height: 300px;
    background-size: cover; /*estica a imagem para caber na tela*/
    
/*  z-index: -1;
  position: fixed;*/
 


}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;
    
}

#site_footer{
    background-color: #000000;
    width: 99%;
    position: fixed;
    bottom: 0;
    display: block;
    height: 50px; 

}
  
    #site_footer .container
    {
        /*padding: 20px;  */
    }

#ftr{
    padding-bottom: 50px;
}
 
#c {
     
margin-bottom: 50px;
}

 
ul {
list-style: none !important;
margin: 0px;
padding: 0px;
display: inline;
text-align: center;
}
li{
float:left;
padding:1px 1px;
list-style-type:none;
}
 .um{
    background-color: #333;
    min-height: 50px;
    font-size: 25px;
 }
 .um i {
    color: #777;
    text-align: center;
    margin-left: 26%;
    margin-top: 2.3%;
 }
  .um i:hover {
    color: #d9534f;
 }


  .dois{
    background-color: #333;
    min-height: 50px;
    font-size: 25px;
 }
 .dois i {
    color: #777;
    text-align: center;
    margin-left: 19%;
    margin-top: 2.3%;
 }
  .dois i:hover {
    color: #11e6c0;
 }

  .tres{
    background-color: #333;
    min-height: 50px;
    font-size: 25px;
 }
 .tres i {
    color: #777;
    text-align: center;
    margin-left: 19%;
    margin-top: 2.3%;
 }
   .tres i:hover {
    color: #3444ef;
 }

  .quatro{
    background-color: #333;
    min-height: 50px;
    font-size: 25px;
 }
 .quatro i {
    color: #777;
    text-align: center;
    margin-left: 19%;
    margin-top: 2.3%;
 }
  .quatro i:hover {
    color: #fff300;
 }

 .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    display: inline-block;
}
.centerSlider button {
    color: #FFF;
   /* width: 23%;*/
    background: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}







}/* media 768*/















































 